<div class="container" fxLayout="column" fxLayoutGap="10px">

  <!-- Cách cũ sử dụng Angular flex module -->
  <!-- <mat-list fxFlex>
    <mat-list-item *ngFor="let dish of dishes">
      <img matListAvatar src={{dish.image}} alt={{dish.name}}>
      <h1 matLine> {{dish.name}} </h1>
      <p matLine>
        <span> {{dish.description}} </span>
      </p>
    </mat-list-item>
  </mat-list> -->
  <div fxFlex>
    <div>
      <h1>Menu</h1>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="300px">

      <mat-grid-tile *ngFor="let dish of dishes">
        <img height="200px" src={{dish.image}} alt={{dish.name}}>
        <mat-grid-tile-footer>
          <h1>{{dish.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

</div>

<app-dishdetail></app-dishdetail>

